/*
 * CSS for John Adams Diaries XSLT practice        AND week 10 wormwood final
 *
 * HISTORY
 * EM initial styling 2022-05-20
 * 
 */

@page {
    margin-top: 01in;
}

body {
    width: 75%;
    margin-left: .75in;
    margin-right: .75in;
    line-height: 175%;
    font-family: "Segoe UI", "Georgia", serif;
}

.title {font-size:55px;}
.title{text-decoration:underline;}
.author{font-size:30px;}
.author{color:teal;}

.pb{color:grey;}

.del {
    text-decoration: line-through;
}

.place {
    color: violet;
}

.name {
    color: green;
}

.date{color:red;}
.date{font-size:19px;}

.modern {
    display:none;
}
